body {
}
.white {
    background-color: white;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: white;
}
div {
  display: flex;
}

/* NESTING STYLES */
body {
    background-color: white;
    max-width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)) ;
    padding: 20px;
}
body > div  {
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    min-height: 30px;

}

body div > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 5px;
    padding: 10px;
}

body div > div > div {
    display: grid;
    border-radius: 5px;
    grid-gap: 10px;
}

/* Table styles */

table.styled {
    width: 100%;
    border-collapse: collapse;
}
table.styled > thead, th {
    background-color: #dfdfdf;
}
table.styled > thead, th {
    text-align: center;
}
table.styled th, table.styled td {
    border: 1px solid lightgray;
    padding: 5px;
}
